@use "../variables" as *;

.Footer {
  background-color: $gray-0;
  // height: 181px;
  width: 100%;
  padding: 0 128px;
  @media (max-width: 1167px) {
    padding: 0;
  }

  &TopLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 0;
    @media (max-width: 1167px) {
      flex-direction: column;
      justify-content: center;
      padding: 0;
      padding-top: 48px;
    }

    &LeftContainer {
      display: grid;
      grid-template-columns: repeat(6, auto);
      column-gap: 30px;
      row-gap: 32px;
      @media (max-width: 1167px) {
        justify-content: center;
        margin-bottom: 41.5px;
      }
      @media (max-width: 650px) {
        // flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        margin-bottom: 32px;
      }
      @media (max-width: 370px) {
        column-gap: 10px;
      }

      &MobileRow {
        @media (max-width: 650px) {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 0 16.5px;
        }
      }

      &CiscoLink {
        @include BodyMediumBold;
        color: $primary-color-50;
      }

      &Link {
        @include BodyMedium;
        color: $gray-80;
      }
    }

    &RightContainer {
      display: flex;
      @media (max-width: 1167px) {
        justify-content: center;
        margin-bottom: 41.5px;
      }
      @media (max-width: 640px) {
        justify-content: center;
        padding: 0 21.5px;
        margin-bottom: 42.27px;
      }

      &Icon {
        color: $gray-80;
        width: 20px;
        height: 20px;
        margin-left: 34px;
        @media (max-width: 1167px) {
          margin: 0 17px;
        }
        @media (max-width: 640px) {
          margin: 0 17px;
          margin-top: 2.5px;
        }
        @media (max-width: 320px) {
          margin: 0;
          margin-top: 2.5px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  &HorizantalRule {
    border-top: 1px solid $gray-05;
    margin: 0;
    padding: 0;
    @media (max-width: 1167px) {
      margin: 0 16px;
    }
    @media (max-width: 640px) {
      margin-bottom: 13px;
    }
  }

  &BottomLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 0 28px 0;
    @media (max-width: 1167px) {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 48px;
    }
    @media (max-width: 640px) {
      padding-bottom: 64px;
    }

    &LeftContainer {
      @media (max-width: 1167px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 129.5px;
        flex-wrap: wrap;
      }
      @media (max-width: 640px) {
        padding: 0 17px;
      }
      &Link {
        @include BodySmall;
        color: $gray-80;
        margin-right: 31px;
        @media (max-width: 1167px) {
          margin-bottom: 24px;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }

    &CopyrightText {
      @include BodySmall;
      color: $gray-80;

      @media (max-width: 1167px) {
        text-align: center;
        margin-top: 16px;
      }
      @media (max-width: 640px) {
        margin-top: 48px;
      }
    }
  }
}
