.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 10;

  &Items {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 620px) {
    padding: 1rem 2rem;
    justify-content: center;
  }

  @media (max-width: 550px) {
    justify-content: flex-end;
    padding: 1rem;
  }

  &Logo {
    margin-top: -0.5rem;
    width:200px;

    @media (max-width: 1000px) {
      width: 70px;
    }

    &Container {
      @media (max-width: 550px) {
        display: none;
      }
    }
  }

  &Navlink {
    font-size: 1rem;
    color: #0076d5;
    margin-left: 4rem;
    color: #fff;

    @media (max-width: 650px) {
      margin-left: 2rem;
    }
    @media (max-width: 400px) {
      margin-left: 1rem;
    }
    @media (max-width: 330px) {
      font-size: 0.8rem;
    }
    &Container {
      display: flex;
      flex-direction: row;
    }
    &Menu {
      position: relative;
      cursor: pointer;
      padding-bottom: 2rem;

      &DropDown {
        // @include FlexCol($align-items: flex-start);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        z-index: 10;
        position: absolute;
        left: 3rem;
        top: 1rem;
        margin-top: 2rem;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.07);
        padding: 1rem;
        border-radius: .5rem;
      }

    }

    &Icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: -0.2rem;
      @media (max-width: 1000px) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media (max-width: 330px) {
        width: 1.2rem;
        height: 1.2rem;
      }

      &Link {
        margin-left: 4rem;

        @media (max-width: 450px) {
          margin-left: 2rem;
        }
      }
    }
  }
}
