.Wrapper {
  width: 100%;
  position: relative;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

.Content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 29px;
  left: 308px;
  margin-top: 130px;

  &Video {
    width: 100%;
		aspect-ratio: 16.1/9;
  }
}
.Header {
  margin-bottom: -10px;
}
.Title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-top: 150px;
  color: #ffffff;

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.LowerOverlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 250px);
  left: 0;
  bottom: 0;
  background-color: white;
}

.Capability {
  list-style: none;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.Button {
  height: 49px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 5px 20px;
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #d9d9d9;
  }

  &Wrapper {
    display: flex;
    width: 32%;
    justify-content: space-between;
  }
}

.KeyCapabilities {
  padding-left: 0;
}
